@model clean_aspnet_mvc.Data.Event

 <div class="panel-heading">

<h4>Event </h4>
  </div>
  <div class="panel-body">
<form asp-action="Edit">
    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="EventName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="EventDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
              <textarea rows="3" class="form-control" asp-for="EventDescription"></textarea>

                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 @Html.EditorFor(model => model.StartDate)
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 @Html.EditorFor(model => model.EndDate)
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="NumberOfPeopleAttending" class="col-md-2 control-label"></label>
            <div class="col-md-10">
              @Html.EditorFor(model => model.NumberOfPeopleAttending)
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group">
            <label asp-for="EventType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 @Html.EditorFor(model => model.EventTypeId)
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
  </div>

@Html.Partial("EventMeals", Model)

<div>
    <a asp-action="Index">Back to List</a>
</div>

