@model clean_aspnet_mvc.Data.Event

<div class="panel panel-default">

  <div class="panel-heading">
    <h class="panel-title">Event meals</h3>
  </div>
     <div class="panel-body">
    @if (ViewBag.Menus == null || ViewBag.Menus.Count == 0)
    {

        <div class="alert alert-info">You must <a class="btn btn-info" role="button" href="/Menu">create some menus</a> before you can add them to an event.
        </div>


    }

 </div>
             @if (Model.Meals != null) {
<table class="table">
  <thead>
    <tr>
                 <td>
              Slot
            </td>
             <td>

                Menu

            </td>
            <td>

               Date

            </td>
            <td>

                # Attending

            </td>
            <td>
            </td>

</tr>
</thead>
              @foreach (var item in Model.Meals) {
        <tr>
                 <td>
              @item.EventMealSlot.Name
            </td>
            <td>
                @item.Menu.Name
 </td>
            <td>
                @item.MealDate.ToString("d")
 </td>
            <td>
                @item.NumberOfPeopleAttending
 </td>
            <td>
              <a asp-action="DeleteEventMeal" asp-route-id="@item.Id" asp-route-eventId=@Model.Id>Delete</a>
            </td>
        </tr>
                }
</table>

            }


@if (ViewBag.Menus != null && ViewBag.Menus.Count > 0)
{
 @Html.Partial("AddEventMenu", Model)
}
 <div class="panel-body">

<a asp-controller="shop" asp-action="calculateingredients" asp-route-id="@Model.Id"  class="btn btn-success" title="Create a new Event" align=left>
   Calculate shopping list
</a>
 </div>
</div>

