@model IEnumerable<clean_aspnet_mvc.Data.MealItemIngredient>

<h4>Meal Item Ingredients</h4>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasureType)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.GroceryItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroceryItem.GroceryItemName)
            </td>
            <td>
                <a asp-action="MealItemIngredientEdit" asp-route-id="@item.Id">Edit</a> |

                <a asp-action="MealItemIngredientDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


