@model IEnumerable<clean_aspnet_mvc.Data.GroceryItem>

<h4>Grocery Items</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroceryItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroceryCategory)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroceryItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroceryCategory.GroceryCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

