@model clean_aspnet_mvc.Models.LocationsList.LocationsListViewModel


<h4>Locations</h4>
<div class="alert alert-info">
  You can work with any number of locations you want, but only one of them at the time. Change your 'Current' location to switch between them.
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
<thead>
        <tr>
                <th>
                    Location Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Is Current
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LocationsList) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
              @if (item.Id == Model.DefaultLocationId)
              {
               <span class="glyphicon glyphicon-ok"></span>
              }
              else
              {
                <a class="btn btn-primary"  role="button" asp-action="MakeDefault" asp-route-id="@item.Id">Set as Current</a>

              }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

