@model IEnumerable<clean_aspnet_mvc.Data.Event>

<h3>
  Manage Events
</h3>
<a asp-action="Create" class="btn btn-success btn-xs" title="Create a new Event" align=left>
  <span class="glyphicon glyphicon-plus" aria-hidden="true">
  </span>
   Add an Event
</a>
<p>

</p>
<div class="panel panel-default">
<ul class="list-group">
@foreach (var item in Model) {
      <a asp-action="Edit" asp-route-id="@item.Id" class="list-group-item">
        <p class="list-group-item-text">
        <h4>@Html.DisplayFor(modelItem => item.EventName)</h4>

        @Html.DisplayFor(modelItem => item.EventDescription)<br>
         <span class="label label-info">
           @Html.DisplayFor(modelItem => item.StartDate) -> @Html.DisplayFor(modelItem => item.EndDate)
          </span>



        </p>
       </a>
}
</ul>
</div>

