@model clean_aspnet_mvc.Data.Calculations.MealsShoppingList

<h3>Shopping List Details</h3>

<form asp-action="CalculateIngredientsForMeals">
    <div class="form-horizontal">
<div class="list-group-item list-group-item-info">Select the events that you want to be shopping for... <br/></div>
   @foreach(var thisEventMealShoppingList in Model.EventMealShoppingLists)
    {
      <li class="list-group-item">
        @thisEventMealShoppingList.EventMeal.MealDate.ToString("MM:dd") @thisEventMealShoppingList.EventMeal.Event.EventName @thisEventMealShoppingList.EventMeal.EventMealSlot.Name

<ul>
          @foreach(var thisMealItemShippingListItem in thisEventMealShoppingList.MealItemShoppingLists)
          {
            <li class="list-group-item">
              @thisMealItemShippingListItem.MealItem.MealItemName @@thisMealItemShippingListItem.MealItem.Multiplier
              @foreach(var thisShoppingListItem in thisMealItemShippingListItem.ShoppingListItems)
              {
                <li class="list-group-item">
                  @thisShoppingListItem.GroceryItem.GroceryItemName @thisShoppingListItem.Quantity @thisShoppingListItem.Measure
                </li>
              }
            </li>
          }
</ul>
</li>

    }
<br/>
<div class="well">
 <input type="submit" value="Continue >>" class="btn btn-success" />
 </div>
    </div>
</form>


